.trendline {
        stroke: #1f78b4;
        stroke-width: 2;
        fill: none;
        opacity: 1;
      }

.yearline {
        stroke: #cb181d;
        stroke-width: 1;
        fill: none;
        opacity: 1;
}



.axis line, .axis path, .tick line {
    display: none;
}